[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/priyanka0108
[access "refs/for/refs/*"]
	read = group user/priyanka0108
	push = group user/priyanka0108
	label-Code-Review = -2..+2 group user/priyanka0108
	label-Verified = -1..+1 group user/priyanka0108
	rebase = group user/priyanka0108
	removeReviewer = group user/priyanka0108
	submit = group user/priyanka0108
[access "refs/heads/*"]
	read = group user/priyanka0108
	create = group user/priyanka0108
	push = +force group user/priyanka0108
	pushMerge = group user/priyanka0108
[access "refs/tags/*"]
	push = group user/priyanka0108
	push = +force group user/priyanka0108
